
.welcome-title {
  position: absolute;
  font-size: 16vw;
  width: 70vw;
  text-align: center;
  font-weight: bold;
  top: 10vh;
  left: 50%;
  transform: translateX(-50%);
  font-family: "Karantina";
}

.welcome-subtitle {
  position: absolute;
  font-size: 4.2vw;
  width: 80vw;
  top: 30vh;
  left: 50%;
  transform: translateX(-50%);
  text-align: center;
}

.start-learning-btn {
    padding: 1vh 2vh;
    font-size: 3vw;
    font-weight: bold;
    color: #ffffff;
    background-color: #ff4a5a;
    border: 0.5vh solid #460000;
    border-radius: 2vh;
    cursor: pointer;
    top: 85vh;
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    direction: rtl;
    font-family: "Karantina";
}


.welcomePage-logo {
  position: absolute;
  width: 25vw;
  top: 2vh;
  left: 50%;
  transform: translateX(-50%);
}

.welcomePage-nameTag{
  position: absolute;
  width: 60vw;
  top: 41vh;
  left: 50%;
  transform: translateX(-50%);

}

.start-learning-btn:hover {
  background-color: #ff6170;
}

/* אפקט הלחיצה */
.start-learning-btn:active {
  transform: translateY(5px);
  box-shadow: 0px 0px 0px #333333;
}