.next-button{
    position: absolute;
    bottom: 5svh; 
    padding: 1vh 5vw;
    left: 50%;
    transform: translateX(-50%);   
    background: linear-gradient(45deg, #5289ff 0%, #c88dff 100%);
    border: 0.3vh solid #000641; /* עובי מסגרת דקה */
    border-radius: 2vh; /* עיגול מושלם של הכפתור כולו */
    cursor: pointer;
    font-size: 5vmin;
    text-align: center;
    font-weight: 600;
    display: flex;
    align-items: center;
    justify-content: center;
}