/* --- פופ אפ גנרי --- */
.popup-overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.8);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 9999;
}

.popup-content {
    border-radius: 2vh;
    padding: 3vh 2vh;
    width: 70vw;
    max-width: 80vw;
    text-align: center;
    position: relative;
    border-style: solid;
    border-width: 0.5vh;
    direction: rtl; /* מבטיח שהטקסט מימין לשמאל */
}

.popup-title {
    margin: 0 0 2vh 0;
    color: #000641;
    font-size: 3vh;
    font-weight: bold;
}

.popup-text {
    margin: 0 0 3vh 0;
    color: #333333;
    font-size: 2.2vh;
    line-height: 1.5;
}

/* כפתור הבנתי באזהרה */
.popup-btn {
    padding: 1vh 3vh;
    background-color: #000641;
    color: #fff;
    border: none;
    border-radius: 1vh;
    cursor: pointer;
    font-weight: bold;
}

/* כפתור איקס בפופ-אפ רגיל */
.popup-close-x {
    position: absolute;
    top: 1vh;
    right: 2vh;
    font-size: 5vh;
    font-weight: bold;
    color: #707070;
    cursor: pointer;
    background: none;
    border: none;
    line-height: 1;
    padding: 0;
    transition: color 0.2s;
}

.popup-close-x:hover {
    color: #000641;
}