/* @font-face {
  font-family: 'assistant';
  src: url(./assets/fonts/assistant/Assistant-Regular.ttf);
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'assistant';
  src: url(./assets/fonts/assistant/Assistant-Bold.ttf);
  font-weight: bold;
  font-style: normal;
}

@font-face {
  font-family: 'karantina';
  src: url(./assets/fonts/karantina/Karantina-Regular.ttf);
  font-weight: normal;
  font-style: normal;
} */

/* @font-face {
  font-family: 'karantina';
  src: url(./assets/fonts/karantina/Karantina-Regular.ttf);
  font-weight: normal;
  font-style: normal;
} */

/* @font-face {
  font-family: 'karantina';
  src: url(./assets/fonts/karantina/Karantina-Bold.ttf);
  font-weight: bold;
  font-style: normal;
}

@font-face {
  font-family: 'karantina';
  src: url(./assets/fonts/karantina/Karantina-Light.ttf);
  font-weight: normal;
  font-style: light;
}

@font-face {
  font-family: 'assistant';
  src: url(./assets/fonts/assistant/Assistant-Light.ttf);
  font-weight: normal;
  font-style: light;
}

body{
  background-color: #FEFEFE;
  font-family: 'assistant', sans-serif;
} */